body{
  width: 90%;
  height: 90%;
  position: absolute;
  margin: 5px 5px 5px 5px;
  alignment: center;
}
html{
  align-items: center;
  align-content: center;
  text-align: center;
  height: 100%;
  font-family: Arial;
}

section{
  align-content: center;
  width: 90%;
  height: 90%;
  position: absolute;
  margin: 5px 5px 5px 5px;
  text-align: center;
}

.local {
  padding: 20px;
  border-radius: 20px;
  background-color: darkcyan;
  max-width: 80%;
  color: white;
  font-size: 20px;
  align-self: flex-start;
}

.remote {
  padding: 20px;
  border-radius: 20px;
  background-color: darkkhaki;
  max-width: 80%;
  color: white;
  font-size: 20px;
  align-self: flex-end;
}

.container {
  padding: 30px;
  width: 100%;
  height: max-content;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
