<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body  style="text-align: center">
<section style="display: grid"  class="p-card">
  <h1>Wewy</h1>

  <div>
    <span class="p-input-icon-right">
    <i class="pi pi-spin pi-spinner"></i>
    <input id="input" type="text" class="p-inputtext-lg" placeholder="¿Que sucede?, cuentame..."  pInputText />
      <button pButton pRipple icon="pi pi-arrow-right" type="text" class="p-inputtext-lg" for="input"> </button>
    </span>
  </div>

</section>

</body>
</html>
