<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body style="width: 95%; height: 95%" >

<section class="card" >


  <div class="col-12 md:col-4 mb-10" >
    <h1 style="text-align: center">Wewy</h1>
    <span class="p-input-icon-right">
    <i class="pi pi-spin pi-spinner"></i>
    <input id="input" type="text" class="p-inputtext-lg" placeholder="¿Que sucede?, cuentame..." style="width: 500px" pInputText />
      <button pButton pRipple icon="pi pi-arrow-right" type="text" class="p-button-lg" for="input"> </button>
    </span>
  </div>
  <br>
  <br>
  <div class="col-12 md:col-4 mt-10 pt-10">
    <p-scrollPanel [style]="{width: '100%', height: '700px'}" class="mt-10" styleClass="custombar1">

    </p-scrollPanel>
  </div>

</section>

</body>
</html>
